@import "tailwindcss";

:root {
  --card: 0 0% 8%;
  --white: #FBFBFD;
  --background: #0C0C0C;
  --neutral: #878787;
}

@theme inline {
  --color-card: hsl(var(--card));
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-white: var(--white);
  --color-background: var(--background);
  --color-neutral: var(--neutral);
}

body {
  @apply bg-background font-mono antialiased scroll-smooth text-white
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.2s
}