@import 'tailwindcss';
@import 'tw-animate-css';

:root {
    --background: #fbfbfd;
    --primary: #262626;
    --red: #ff7070;
    --neutral: #737373;
    --divider: #e5e5e5;
    --neutral-dark: #1d1d1d;
    --neutral-light: #fafafa;
}

@theme inline {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-background: var(--background);
    --color-primary: var(--primary);
    --color-red: var(--red);
    --color-neutral: var(--neutral);
    --color-neutral-light: var(--neutral-light);
    --color-neutral-dark: var(--neutral-dark);
    --color-divider: var(--divider);
}

html {
    scroll-behavior: smooth !important;
}

body {
    @apply bg-background font-sans antialiased text-primary!;
}

::selection {
    background: var(--neutral) !important;
    color: var(--background) !important;
}

.container-padding {
    @apply p-5 md:p-10;
}

.main-container {
    @apply max-w-full md:max-w-2xl lg:max-w-4xl xl:max-w-6xl 2xl:max-w-[1440px] w-full mx-auto;
}

::view-transition-old(root),
::view-transition-new(root) {
    animation-duration: 0.2s;
}

.project-section-grid {
    @apply grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-8 md:gap-4;
}
